# Project related stuff 
pending_to_implement.*
decisions_made.*
dev_files/

# Virtual environment
/backend/proj02

# Environment files
.env

# Cache files
__pycache__/

# Log and other non-required files
logs
*.rdb

# IDE Related
*.xml
*.iml